*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color:white;
}
header {
    top: 0;
    position: fixed;
    z-index: 9999999;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    background-color:#f77f00;
    backdrop-filter: blur(2px); /* Adjust the blur radius as needed */
    -webkit-backdrop-filter: blur(2px); /* For compatibility with some browsers */
    transition: 0.3s;
}
header.hidden {
    transform: translateY(-100%);
}
nav {
    height: 60px;
    width: 1100px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}
.logo-container a{
    font-size: 1.2rem;
    color: white;
    font-family: cursive;
}
.search-container{
    height:30px;
    width: 400px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}
.search-container a{
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container svg{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.search-container svg path{
    fill: #f77f00;
}
.search-container input{
    width: 100%;
    border: none;
    margin: 0px 5px;
}
.search-container input:focus{
    outline: none;
}
.search-container span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    font-size: .9rem;
    cursor: pointer;
    color: #f77f00;
    opacity: 0;
}
.search-container span.show{
    opacity: 1;
}
.menu-list-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-list-container a{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(229, 229, 229);
    border-bottom: 3px transparent solid;
    font-size: 1rem;
}
.menu-list-container a.active,.menu-list-container a:hover{
    color: white;
    border-bottom: 3px white solid;
}
.anime-outer-container{
    height:auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.anime-outer-container.top-anime{
    margin-top: 80px;
}
.anime-inner-container{
    width: 1100px;
    height: auto;
}
.label{
    font-size: 1rem;
    text-transform: uppercase;
    color: #f77f00;
}
.card-container{
    margin-top: 20px;
    height: auto;
    width: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5,auto);
    gap: 40px;
}
.card{
    height: 340px;
    width: auto;
    border: 2px transparent solid;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover{
    /* border: 2px #f77f00 solid; */
}
.card .poster{
    height: 280px;
    width: 190px;
    border-radius: 5px;
    overflow: hidden;
}
.card:hover img{
    transform: scale(1.1);
}
.card img{
    height: 280px;
    width: 190px;
    background-color: green;
    border-radius: 5px;
    transition: 0.5s;
}
.card .card-description{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    gap: 5px;
}
.card-description .title {
    font-size: 15px;
    color: #f77f00;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-description .year{
    font-size: 14px;
    color: rgb(168, 167, 167);
}

.anime-details-container{
    height: auto;
    width: 100%;
}
.anime-header-container{
    height: 500px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.anime-header-container .title-outer-container{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-outer-container .title-inner-container{
    height: 80px;
    width: 1100px;
    display: flex;
    gap: 20px;
}
.title-inner-container .poster{
    height: 300px;
    width: 220px;
    border-radius: 5px;
}
.title-inner-container .title{
    height: 80px;
    width: auto;
    color: #f77f00;
    font-size: 1.2rem;
}
.content-outer-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-inner-container{
    display: flex;
    gap: 20px;
    width: 1100px;
    height: auto;
    padding: 20px 0px;
}
.content-inner-container .left{
    height: 100%;
    width: 220px;
}
.content-inner-container .summary{
    height: 100%;
    width: 600px;
    font-size: 14px;
    color: rgb(92, 92, 92);
}
.content-inner-container .more-details{
    width: 200px;
    height: 100%;
}
.more-details p{
    color: rgb(92, 92, 92);
    font-size: 14px;
}
.more-details span{
    color: #f77f00;
}