*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#ffeeda;
    height: auto;
    min-height: 100vh;
}
header {
    top: 0;
    position: fixed;
    z-index: 9999999;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    background-color:#f77f00;
    backdrop-filter: blur(2px); /* Adjust the blur radius as needed */
    -webkit-backdrop-filter: blur(2px); /* For compatibility with some browsers */
    transition: 0.3s;
}
header.hidden {
    transform: translateY(-100%);
}
nav {
    height: 60px;
    width: 1100px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}
.logo-container a{
    font-size: 1.2rem;
    color: white;
    font-family: cursive;
}
.search-container{
    height:35px;
    width: 400px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}
.search-container form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container button{
    height: auto;
    width: auto;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.search-container svg{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.search-container svg path{
    fill: #f77f00;
}
.search-container input{
    width: 100%;
    border: none;
    margin: 0px 10px;
}
.search-container input:focus{
    outline: none;
}
.search-container span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    font-size: 1rem;
    cursor: pointer;
    color: #f77f00;
    opacity: 0;
}
.search-container span.show{
    opacity: 1;
}
.menu-list-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-list-container a{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(229, 229, 229);
    border-bottom: 3px transparent solid;
    font-size: 1rem;
}
.menu-list-container a.active,.menu-list-container a:hover{
    color: white;
    border-bottom: 3px white solid;
}
.no-internet{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f77f00;
    font-size: 1rem;
}
footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    background-color:#f77f00;
}


.anime-outer-container{
    min-height: 100vh;
    height:auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 40px;
}
.anime-outer-container.top-anime{
    margin-top: 80px;
}
.anime-outer-container.search-anime{
    margin-top: 60px;
}
.anime-outer-container.search-anime .anime-inner-container{
    margin-top: 40px;
}
.anime-inner-container{
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.label{
    font-size: 1rem;
    text-transform: uppercase;
    color: #f77f00;
}
.label.result{
    font-size: 1.2rem;
}
.pagination-container{
    display: flex;
    gap: 5px; /* Adjust the gap as needed */
    align-items: center;
}
.pagination-container.all-anime{
    width: 100%;
    justify-content: center;
}
.pagination-container button{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    cursor: pointer;
    border: none;
    background-color: white;
}
.pagination-container button svg path{
    fill: #f77f00;
}
.pagination-container button.active svg path{
    fill: white;
}
.pagination-container button.active{
    background-color: #f77f00;
    color: white;
}
.pagination-container div{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f77f00;
}
.card-container{
    margin-top: 20px;
    height: auto;
    width: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5,auto);
}
.card{
    height: 340px;
    width: auto;
    border: 2px transparent solid;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover{
    /* border: 2px #f77f00 solid; */
}
.card .poster{
    height: 280px;
    width: 190px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card:hover img{
    transform: scale(1.1);
}
.card img{
    height: 280px;
    width: 190px;
    border-radius: 5px;
    transition: 0.5s;
}
.card .card-description{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    gap: 5px;
}
.card-description .title {
    font-size: 15px;
    color: #f77f00;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-description .year{
    font-size: 14px;
    color: rgb(168, 167, 167);
}

.anime-details-container{
    height: auto;
    width: 100%;
}
.anime-header-container{
    height: 500px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.anime-header-container .title-outer-container{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-outer-container .title-inner-container{
    height: 80px;
    width: 1100px;
    display: flex;
    gap: 20px;
}
.title-inner-container .poster{
    height: 300px;
    width: 220px;
    border-radius: 5px;
}
.title-inner-container .title{
    height: 80px;
    width: auto;
    color: #f77f00;
    font-size: 1.2rem;
}
.content-outer-container{
    width: 100%;
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
}
.content-inner-container{
    display: flex;
    gap: 20px;
    width: 1100px;
    height: auto;
    padding: 20px 0px;
}
.content-inner-container .left{
    height: 100%;
    width: 220px;
}
.content-inner-container .summary{
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-inner-container .summary .title{
    font-size: 1rem;
    color: #f77f00;
}
.content-inner-container .summary p{
    font-size: 14px;
    color: rgb(92, 92, 92);
}
.content-inner-container .more-details{
    width: 200px;
    height: 100%;
}
.more-details p{
    color: rgb(92, 92, 92);
    font-size: 14px;
}
.more-details span{
    color: #f77f00;
}
.anime-review-outer{
    width: 100%;
    min-height: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.anime-review-inner{
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.anime-review-inner .label-review{
    font-size: 1rem;
    height: 40px;
    width: 100%;
    color: #f77f00;
    font-weight: bolder;
}
.review-card-container{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(3,auto);
    justify-content: space-between;
    gap: 20px;
}
.review-card-container .review-card{
    width: 350px;
    height: auto;
    display: flex;
    background-color:white;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.review-card-container .review-card:hover{
    transform: scale(1.05);
}
.review-card .user-profile{
    display: flex;
    width: 40px;
    height: 100%;
}
.review-card img{
    height:30px;
    width: 30px;
    border-radius: 50%;
}

.review-card .review-description{
    height: 100%;
    width: 100%;
}
.review-card .review-description .user-name{
    height: 30px;
    font-size: 1rem;
    color: #f77f00;
}
.review-card .review-description .review{
    font-size: .8rem;
    color: rgb(121, 121, 121);
    font-style: italic;
}